html,
body {
  margin: 0px;
  background-color: #2f4f30;
  color: white;
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.game-card {
  height: 150px;
  position: relative;
  left: 100px;
  margin-left: -65px;
}

#computer-cards,
#player-cards {
  height: 230px;
}
